<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8e914936-142e-4421-96de-b9a98d8da021/resourceGroups/dotnet_web/providers/Microsoft.Web/sites/Bulky1</ResourceId>
    <ResourceGroup>dotnet_web</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://bulky1.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://bulky1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Bulky1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>